.footer{
    
   
    font-family: cursive; 
    height:fit-content;
    
   
}

.about-us{
   
   
    color: rgb(244, 244, 245);
   
    
}

.about-us h2{
    
    color: azure;
    
}

.social-media{
   
    
     color:aliceblue;
    
    
}
.social-media h2{
   
    color:aliceblue;
}